html,body{ padding-right: 0px;margin: 0px;overflow-x: hidden; }
@font-face { font-family: AvenirNext; src: url(../AvenirNextLTPro-Demi.otf); }
body{
  background-image: url(background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center fixed;
  background-attachment: fixed;
  width: 100%;
  font-style: normal;
  
/* font-weight: 600; */
}



                        /* fish fro home  styles start */
.fishforhome{
  width: 100%;
  background-image: url(../img/crab-2.gif);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 800px;
  left: 0px;
  top: 71px;
  margin-bottom: 100px;
}
                        /* fish fro home  styles end */


                        /* Item heading styles start */
.heading{
  color: white;
  width: 99%;
  position: relative;
  font-weight: 600;
  font-size: 65px;
  line-height: 157px;
  
}
                          /* Item heading styles ends */

                        /* soft shell crab logo styles starts */
.ssc-Logo{
  position: absolute;
  width: 52.54px;
  height: 45.25px;
  left: 193px;
  top: 53.5px;
  transform: rotate(-50deg);
}
                          /* soft shell crab styles ends */


                          /* Seafood styles start */
.sf-Logo{
  position: absolute;
  width: 52.54px;
  height: 45.25px;
  right: 62.5px;
  top: 55px;
  transform: matrix(-0.64, -0.77, -0.77, 0.64, 0, 0);
}
                          /* Seafood styles ends*/

                          /* Sundarbans firm logo styles start */
.suf-Logo{
position: absolute;
width: 52.54px;
height: 45.25px;
left: 92px;
top: 53.5px;
transform: rotate(-50deg);
}
                          /* Sundarbans firm styles end */


                          /* fresh water fish logo styles start */
.fwf-Logo{
position: absolute;
width: 50.54px;
height: 45.25px;
right: 154px;
top: 54.8px;
transform: rotate(-50deg);
}
                          /* fresh water fish logo styles end */


                          /* cart items styles starts */
.cart-lower{
  display: none;
}
                          /* slider start */
.arrow{
  position: absolute;
  top:8px;
  font-size: 40px;
  font-weight: 100;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  right: 10px;
  width: 60px;
  max-height: 25px;
 
}
.arrow>span{
  position: relative;
  top: -25px;
}
.arrow > span:nth-of-type(2){
  right: -20px;
}
.slider {
  box-sizing: border-box;
  padding-top: 50px;
  width: 92%;
  height:541.7px;
  position: relative;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  /* border: 1px solid white; */
}

.slider::-webkit-scrollbar {
  display: none;
}
.slider .slide {
  display: flex;

  position: absolute;
  overflow-x: hidden;
  left: 0;
  height:500px;;
  transition: 0.3s left ease-in-out;
  /* border: 1px solid red; */
}
.slider .item {
  margin-right: 10px;
}
.slider .item:last-child {
  margin-right: 0;
}
                              /* slider ends */
                            /* All products button in homepage styles start */
.AllProducts{
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 15px;
}

.AllProducts button{
  height: 56px;
  width: 329px;
  border-radius: 15px;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;

}
.AllProducts button:hover{
  background-color: black;
  border: none;

}
                            /* All products button in homepage styles end */

                            .clearfix::after {
                              content: "";
                              clear: both;
                              display: table;
                            }
                            /* All products button in homepage styles end */

                            /* home page lower card starts */
#container{
  height: 550px;
  box-sizing: border-box;
  padding: 40px;
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(60px);
  color: white;
}
                          /* home page lower card ends */

                  /* From here on the following styles are of the all products page         */

                        /* All products page heading styling starts */
.ProductsHeading{
  /* font-family: 'Avenir Next'; */
  margin-top: 200px;
  font-weight: 600;
  font-style: normal;
  font-size: 112px;
  line-height: 112.53px;
  color: white;
  /* border: 1px solid yellow; */
  box-sizing: border-box;
  padding-left:30px;
}
                        /* All products page heading styling ends */

                        /* Count of All Products styling starts */

.count_of_products{
  font-size: 30px;
  position:relative;
  top:-45px;
}
                        /* Count of All Products styling ends */

@media only screen and (max-width: 900px) {
  .logo{
    left: 30%;
  }
}
