
 /* cart items styles start */
 .favClick{
   z-index:-1;
   position:absolute;
   top:-50px;
   right:20px;
   display: none;
 }                       
 .item{
   padding: 5px;
   cursor: pointer;
   position: relative;
 }
 .item img{
   margin-top:20%;
 }
 .item-background{
   background: rgba(255, 255, 255, 0.35);
   padding: 5px;
   box-sizing: border-box;
   position: relative;
   height: 430px;
   width: 330px;
 }
 .item-background:hover{
   background: rgba(255, 255, 255, 0.6);
 }
 .item button{
   text-align: center;
   width:99%;
   left: 2px;
   right: 0%;
   height: 35px;
   display: none;
   background-color: white;
   position: absolute;
   bottom: 2px;
   border-radius: 5px;
   border: none;
   
 }
 .item button:hover{
   background-color:black;
   color: white;
 }
 .quantity{
   border: 1px solid white;
   width: 105px;
   height: 28px;
   border-radius: 3px;
 }
 .quantity .value-button{  
   color: white;
   border: 1px solid yellow;
 }
 .size .value-button{
   background-color:rgba(255, 255, 255, 0.6) ;
 
 }
 .value-button {
   display: inline-block;
   text-align: center;
   width:22.7px;
   height:22.7px;
   border-radius:4.13px;
   margin:2px;
 }
 .value-button:hover {
   cursor: pointer;
 }
 
 /* form #decrease {
   margin-right: 10px;
 } */
 
 /* form #increase {
   margin-left: -4px;
 } */
 
 input.number {
   text-align: center;
   border: none;
   margin: 0px;
   width: 40px;
   height: 30px;
   color: white;
 }
 input[type=number]::-webkit-inner-spin-button,
 input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }
 .cart-caption{
   color: white;
 }
                             /* cart items styles end */
                          
                          
                          