html,body{ padding-right: 0px;margin: 0px;overflow-x: hidden; }
@font-face { font-family: AvenirNext; src: url(../AvenirNextLTPro-Demi.otf); }
body{
  background-image: url(background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center fixed;
  background-attachment: fixed;
  width: 100%;
  font-family: AvenirNext;
/* font-weight: 600; */
}
#DetailedSection{
    margin-top: 180px;
    margin-bottom: 80px;
}
.productBox{
    display: flex;
    border-bottom:1px solid black;
    border-top:1px solid black;
    width: 70%;
    margin:auto;
    justify-content: space-around;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
}
/* img{
    height: 30em;
} */
.itemHeader{
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-bottom: 5px;
}
.itemPrice{
    margin-bottom: 20px;
}
.itemConfig{
    display: flex;
    justify-content: space-between;
}
.addToCartButton{
    text-align: center;
    width:99%;
    left: 2px;
    right: 0%;
    height: 35px;
    /* display: none; */
    background-color: white;
    /* position: absolute; */
    /* bottom: 2px; */
    border-radius: 3px;
    border: none;
    font-weight: 600;
}
.addToCartButton:hover{
    background-color: black;
    color: white;
}
.buyButton{
    text-align: center;
    width:99%;
    left: 2px;
    right: 0%;
    height: 35px;
    font-weight: 600;
    /* display: none; */
    background-color: orange;
    /* position: absolute; */
    /* bottom: 2px; */
    border-radius: 3px;
    border: none;
}
.buyButton:hover{
    background-color: black;
    color: white;
}

.commentSection{
    /* border-bottom:1px solid black; */
    width: 70%;
    margin:auto;
}
.commentSection>p {
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    border-bottom: 20px;
}
.contain{
   position: relative;
   width: 250px;
   background: transparent;
   /* padding: 0px 30px; */
   /* border: 1px solid #444; */
   border-radius: 5px;
   display: flex;
   /* align-items: center;
   justify-content: center; */
   flex-direction: column;
}
.contain .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 25px;
  color: black;
  padding: 10px;
  
  /* box-sizing: b2order-box; */
  float: right;
  /* border:1px solid white; */
  transition: all 0.2s ease;
} 
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
    color: #fd4;
}
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
form .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
}
textarea::placeholder{
    color: black;
}
form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: transparent;
  border: 1px solid black;
  background: transparent;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
form .btn{
    height: 45px;
    width: 100%;
    margin: 15px 0;
  }
  form .btn button{
    height: 100%;
    width: 20%;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    background: transparent;
    color: black;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form .btn button:hover{
    background: #1b1b1b;
    color: white;
  }

  .mightLike header{
      font-size: 20px;
      color: black;
      font-style: bold;
      font-weight: 550;
      text-align: center;
      margin-bottom: 50px;
  }
  .mightLike{
    margin-bottom:100px;
  }
.suggested{
    margin:auto;
    display: flex;
    overflow-x: scroll;
}
  /*  lower card starts */
#container {
    height: 550px;
    box-sizing: border-box;
    padding: 40px;
    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(60px);
    color: white;
  }
  /*  lower card ends */
  .box{
    box-sizing: border-box;
    padding-left: 35px;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 92%;
    height:550.7px;
    
  }
  .suggested::-webkit-scrollbar {
    display: none;
  }
  .navigate{
    position: relative;
  }
  .leftNavigate, .rightNavigate{
    font-size: 40px;
    color: white;
    /* float: right; */
    position: relative;
    left: 97%;
    /* border: 1px solid red; */
    cursor: pointer;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }