html,body{ padding-right: 0px;margin: 0px;overflow-x: hidden; }
@font-face { font-family: AvenirNext; src: url(../AvenirNextLTPro-Demi.otf); }
body{
  background-image: url(background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center fixed;
  background-attachment: fixed;
  width: 100%;
  font-family: AvenirNext;
/* font-weight: 600; */
}
#DetailedSection{
    margin-top: 180px;
    margin-bottom: 80px;
}
.productBox{
    display: flex;
    border-bottom:1px solid black;
    border-top:1px solid black;
    width: 70%;
    margin:auto;
    justify-content: space-around;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
}
/* img{
    height: 30em;
} */
.itemHeader{
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-bottom: 5px;
}
.itemPrice{
    margin-bottom: 20px;
}
.itemConfig{
    display: flex;
    justify-content: space-between;
}
.addToCartButton{
    text-align: center;
    width:99%;
    left: 2px;
    right: 0%;
    height: 35px;
    /* display: none; */
    background-color: white;
    /* position: absolute; */
    /* bottom: 2px; */
    border-radius: 3px;
    border: none;
    font-weight: 600;
}
.addToCartButton:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.buyButton{
    text-align: center;
    width:99%;
    left: 2px;
    right: 0%;
    height: 35px;
    font-weight: 600;
    /* display: none; */
    background-color: orange;
    /* position: absolute; */
    /* bottom: 2px; */
    border-radius: 3px;
    border: none;
}
.buyButton:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.commentSection{
    border-bottom:1px solid black;
    width: 70%;
    margin:auto;
}
.commentSection>p {
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    border-bottom: 20px;
}
.ratingSection{
    display: flex;
    
}
.ratingSection input{
display: flex;
}
.ratingSection input{
    display: none;
}
.ratingSection label{
    display: block;
    cursor: pointer;
    width: 25px;
    position: relative;

}
.ratingSection label:before
{
    content:'\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 25px;
    color:#101010;
}
.ratingSection label:after
{
    content:'\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 25px;
    color: yellow;
    top: 0;
    opacity: 1;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.ratingSection label:hover:after,
.ratingSection input:checked ~ label:after
{
    opacity: 0;
}